<h1>Create New Survey</h1>
<form id="survey_new" method="post" action="/users/<%=@user.id%>/surveys">
  <input name="title" placeholder="enter title">
  <input name="question" placeholder="enter question">
  <input type="submit" value="save">
</form>

<h1>Your Surveys:</h1>


<div class='user_all'>
  <ol>
    <% if current_user %>
      <% @user.surveys.each do |survey| %>

        <h3>
          <li>
            <a href="/users/<%= @user.id %>/surveys/<%= survey.id %>"><%= survey.title %></a>
          </li>
          <form action="/users/<%=@user.id%>/surveys/<%=survey.id%>" method="post">
            <input name="_method" type="hidden" value="delete" />
            <button type="submit">Delete</button>
          </form>
        </h3>
        <ol>
          <li>
            <p><%= survey.question %></p>
          </li>
        </ol>
      </li>

      <% end %>
    <% end %>
  </ol>

</div>

<h1>All Surveys:</h1>

<div class='surveys_all'>
<% if current_user %>
  <% @surveys.each do |survey| %>
    <h3> <a href="/users/<%= @user.id %>/surveys/<%= survey.id %>"><%= survey.title %></a> </h3>
    <p><%= survey.question %></p>
  <% end %>
<% end %>
</div>





