<a href="/users/<%=@user.id%>">return home</a>
<h1><%=@survey.title%></h1>
<h3><%=@survey.question%></h3>

<form id="survey_view" method="post" >
  <input type="text" name='res' placeholder='enter true or false'>
  <input type="submit" value="save" id="save_button" action="/users/<%=@user.id%>/surveys/<%=@survey.id%>">
</form>

<% if @responses %>

  <h1>Responses</h1>
  <h3> True: <%= @responses.where(response: true).length %> </h3>
  <h3> False: <%= @responses.where(response: false).length %> </h3>

  <ol>
    <% @responses.each do |response| %>
        <li>
          <%= response.response %>
        </li>
    <% end %>
  </ol>
<% end %>


